In [2]:
l1=list()

In [3]:
# creating list from another list
l2 = list(l1)

In [4]:
l1 = [1,2,3]

In [5]:
l2=l2+l1

In [6]:
l2

[1, 2, 3]

In [7]:
#printing squares of number in a list'
l2=[i*i for i in range(6)]

In [8]:
l2

[0, 1, 4, 9, 16, 25]

In [9]:
#insert #remove #pop #del

#append

In [1]:
l = [1,23,45,56]
print(min(l))
#Linear seach
l.sort(reverse=True)# if opposite

1

In [2]:
# for making intergers in list
number = [int(numbers) for numbers in input().split()]

1 2 5 6 4 5

In [1]:
number

NameError: name 'number' is not defined

In [4]:
#dictonary
d={"Mango":100 , "Apple":80}
print(d)

{'Mango': 100, 'Apple': 80}

In [5]:
d["guava"] = 60
print(d)

{'Mango': 100, 'Apple': 80, 'guava': 60}

In [6]:
d["grapes"] = [10 , 20] # we can give list as a value

In [18]:
#Nested dictonary
d["pineapple"]={"small":90 , "large":150}
print(d)

{'pineapple': {'small': 90, 'large': 150}}

In [1]:
print(d["pineapple"]["small"])

NameError: name 'd' is not defined

In [20]:
print(d.keys())

dict_keys(['pineapple'])

In [21]:
print(d.values())

dict_values([{'small': 90, 'large': 150}])

In [22]:
#get -> return none if dont find key
print(d.get("mangoes"))

None

In [12]:
#items -> will give tuples
d.items()

dict_items([('Mango', 100), ('Apple', 80), ('guava', 60), ('grapes', [10, 20]), ('pineapple', {'small': 90, 'large': 150})])

In [13]:
len(d)

5

In [15]:
d.clear()

In [16]:
d.update(new_dictonary)

NameError: name 'new_dictonary' is not defined

In [23]:
print(d)

{'pineapple': {'small': 90, 'large': 150}}

In [29]:
#converting dictonary into list of tupples
l =list(d.items())

In [30]:
l

[('pineapple', {'small': 90, 'large': 150})]

In [31]:
#converting list to dictonary
l1=["apple" , "Bannana", "d"]
l2=[1,2,3]
d = dict(zip(l1,l2))

In [32]:
d

{'apple': 1, 'Bannana': 2, 'd': 3}

In [33]:
for k in d:
    print(k)

apple
Bannana
d

In [34]:
#TUPLES -> immutable
t=(1,2,3,"hello")

In [35]:
t[0]=2

TypeError: 'tuple' object does not support item assignment

In [37]:
#convert tuple into list
l = list(t)

In [38]:
l

[1, 2, 3]

In [39]:
print(t*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [40]:
print(max(t))

3

In [42]:
#concatenation 
t+=t

In [43]:

t

(1, 2, 3, 1, 2, 3)

In [44]:
del t

In [46]:
t

NameError: name 't' is not defined

In [47]:
#SETS - > unique elements
s=set([15,1,1,1,2,3])

In [48]:
s

{1, 2, 3, 15}

In [50]:
s.add(2)

In [52]:
s2={122,324}

In [ ]:
s.union(new_set)

In [53]:
s | s2

{1, 2, 3, 15, 122, 324}

In [55]:
s & s2

set()

In [56]:
s.diffrence(s2)

AttributeError: 'set' object has no attribute 'diffrence'

In [57]:
s ^ s2

{1, 2, 3, 15, 122, 324}

In [66]:
def knock(name):
    print("hello {}".format(name))
knock("anay")

hello anay

In [69]:
x=10
def show():
    global x
    y = "local"
    x+=5
    print(x)

In [70]:
show()

15

In [75]:
#enclosures
def outer():
    x = "local"
    def inner():
        print(x)
    inner()
    print(x)

In [76]:
outer()

local
local

In [77]:
del x

In [80]:
def outer():
    x=10
    def inner():
        nonlocal x #This look in the parent function
        x+=5
        print(x)
    inner()

In [81]:
outer()

15